.account-info{
	font-size: 13px;
	margin-left: 10px;
}
.account-info:first-child{
	margin-left: 0px;
}
small {
    font-size: 13px;
    color: #333;
}
.account-address{
	flex: 5 !important;
}
.accounts-container{
	margin-top: 10px;	
}
.accounts-container a{
	font-size: 14px;
}