<div class="main-container-actions" *ngIf="data?.name !== 'transfer' && data?.name !== 'buyram' && data?.name !== 'sellram' && data?.name !== 'newaccount' && data?.name !== 'buyrambytes' && data?.name !== 'delegatebw' && data?.name !== 'undelegatebw' && data?.name !== 'voteproducer'">
	<div class="memo-data-action">{{ dataString }}</div>
	<i class="far fa-search icon-memo-open" *ngIf="dataString?.length > length" (click)="openDialogMemo($event, dataString)"></i>
</div>

<div class="main-container-actions" *ngIf="data?.name === 'transfer'">
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.from}}" class="color-green pull-left">
			{{ dataObj?.from }}
		</a></strong>
		<i class="fas fa-long-arrow-right"></i>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.to}}" class="color-green">
			{{ dataObj?.to }}
		</a></strong>
	</div>
	<div *ngIf="dataObj?.memo?.length" class="actions-list-view">
		<div class="main-container-actions">
			<div class="memo-data" [ngClass]="{'memo-less-then-length': dataObj?.memo?.length < 20 }">{{ dataObj?.memo }}</div>
			<i class="far fa-search icon-memo-open" *ngIf="dataObj?.memo?.length > 20" (click)="openDialogMemo($event, dataObj?.memo)"></i>
		</div>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content">{{ dataObj?.quantity }}</strong>
	</div>
</div>


<div class="main-container-actions" *ngIf="data?.name === 'buyram'">
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.payer}}" class="color-green pull-left">
			{{ dataObj?.payer }}
		</a></strong>
		<i class="fas fa-long-arrow-right"></i>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.receiver}}" class="color-green">
			{{ dataObj?.receiver }}
		</a></strong>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content">{{ dataObj?.quant }}</strong>
	</div>
</div>

<div class="main-container-actions" *ngIf="data?.name === 'sellram'">
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.account}}" class="color-green pull-left">
			{{ dataObj?.account }}
		</a></strong>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"> {{ (dataObj?.bytes / 1024).toLocaleString() }} kb </strong>
	</div>
</div>

<div class="main-container-actions" *ngIf="data?.name === 'delegatebw'">
	<div class="actions-list-view" *ngIf="dataObj?.from">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.from}}" class="color-green pull-left">
			{{ dataObj?.from }}
		</a></strong>
		<i class="fas fa-long-arrow-right"></i>
	</div>
	<div class="actions-list-view" *ngIf="dataObj?.from">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.receiver}}" class="color-green">
			{{ dataObj?.receiver }}
		</a></strong>
	</div>
	<div class="actions-list-view" *ngIf="dataObj?.from">
		<span class="resources">net: </span><strong class="strong-content"> {{ dataObj?.stake_net_quantity }} </strong>
	</div>
	<div class="actions-list-view" *ngIf="dataObj?.from">
		<span class="resources">cpu: </span> <strong class="strong-content"> {{ dataObj?.stake_cpu_quantity }} </strong>
	</div>
	<div class="actions-list-view" *ngIf="dataObj?.to">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.to}}" class="color-green pull-left">
			{{ dataObj?.to }}
		</a></strong>
	</div>
	<div class="actions-list-view" *ngIf="dataObj?.to">
		<span class="resources">quantity: </span><strong class="strong-content"> {{ dataObj?.quantity }} </strong>
	</div>
</div>

<div class="main-container-actions" *ngIf="data?.name === 'undelegatebw'">
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.from}}" class="color-green pull-left">
			{{ dataObj?.from }}
		</a></strong>
		<i class="fas fa-long-arrow-right"></i>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.receiver}}" class="color-green">
			{{ dataObj?.receiver }}
		</a></strong>
	</div>
	<div class="actions-list-view">
		<span class="resources">net: </span><strong class="strong-content"> {{ dataObj?.unstake_net_quantity }} </strong>
	</div>
	<div class="actions-list-view">
		<span class="resources">cpu: </span> <strong class="strong-content"> {{ dataObj?.unstake_cpu_quantity }} </strong>
	</div>
</div>

<div class="main-container-actions" *ngIf="data?.name === 'newaccount'">
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.creator}}" class="color-green pull-left">
			{{ dataObj?.creator }}
		</a></strong>
		<i class="fas fa-long-arrow-right"></i>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.name}}" class="color-green">
			{{ dataObj?.name }}
		</a></strong>
	</div>
</div>

<div class="main-container-actions" *ngIf="data?.name === 'buyrambytes'">
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.payer}}" class="color-green pull-left">
			{{ dataObj?.payer }}
		</a></strong>
		<i class="fas fa-long-arrow-right"></i>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.receiver}}" class="color-green">
			{{ dataObj?.receiver }}
		</a></strong>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"> {{ (dataObj?.bytes / 1024).toLocaleString() }} kb </strong>
	</div>
</div>


<div class="main-container-actions" *ngIf="data?.name === 'voteproducer'">
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.voter}}" class="color-green pull-left">
			{{ dataObj?.voter }}
		</a></strong>
		<i class="fas fa-long-arrow-right"></i>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"><a routerLink="/account/{{dataObj?.proxy}}" class="color-green">
			{{ dataObj?.proxy }}
		</a></strong>
	</div>
	<div class="actions-list-view">
		<strong class="strong-content"> producers: </strong>
		<strong class="strong-content"><a routerLink="/account/{{prod}}" *ngFor="let prod of dataObj?.producers" class="color-green pull-left producer-link">
			{{ prod }}
		</a></strong>
	</div>
</div>
