<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>
	
	<h1 class="market-header">Account: {{ mainData?.account_name }}</h1>

	<div class="block-info">
			
			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Total Balance:</strong>
				</div>
				<div class="col-sm-9">
					<strong>{{ balance?.toLocaleString() }} {{frontConfig?.totalBalance}}</strong> 
					<span *ngIf="frontConfig?.convertToUSD"> / </span> 
					<small *ngIf="frontConfig?.convertToUSD">{{ (balance * eosRate?.RAW[frontConfig.coin]?.USD?.PRICE).toLocaleString() }} USD</small>
				</div>
			</div>
			
			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Unstaked:</strong>
				</div>
				<div class="col-sm-9">
					<small><strong>{{ unstaked }} {{frontConfig?.totalBalance}}</strong></small>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Staked:</strong>
				</div>
				<div class="col-sm-9">
					<small><strong>{{ (frontConfig?.coin !== 'WAX') ? mainData?.voter_info?.staked / 10000 : mainData?.voter_info?.staked / 100000000 }} {{frontConfig?.coin}}</strong></small>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="mainData?.refund_request && !frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Refund:</strong>
				</div>
				<div class="col-sm-9">
					<span class="account-info"> CPU: <small>{{ mainData?.refund_request?.cpu_amount }}</small></span>
					<span class="account-info"> NET: <small>{{ mainData?.refund_request?.net_amount }}</small></span>
					<span class="account-info"> Time: <small>{{ moment(mainData?.refund_request?.request_time).format('lll') }}</small></span>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">CPU:</strong>
				</div>
				<div class="col-sm-9">
					<div class="col-md-4 no-padding">
						<mat-progress-bar mode="determinate" value="{{mainData?.cpu_limit?.used / mainData?.cpu_limit?.max * 100}}" class="progress-bar-usage account-cpu"></mat-progress-bar>
					</div>
					<div class="col-md-8">
						<small>{{ (mainData?.cpu_limit?.used / 1000000).toFixed(2) }} sec</small> / <small>{{ (mainData?.cpu_limit?.max / 1000000).toFixed(2) }} sec</small>
					</div>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">NET:</strong>
				</div>
				<div class="col-sm-9">
					<div class="col-md-4 no-padding">
						<mat-progress-bar mode="determinate" value="{{mainData?.net_limit?.used / mainData?.net_limit?.max * 100}}" class="progress-bar-usage account-net"></mat-progress-bar>
					</div>
					<div class="col-md-8">
						<small>{{ (mainData?.net_limit?.used / 1024).toFixed(2) }} kb</small> / <small>{{ (mainData?.net_limit?.max / 1024).toFixed(2) }} kb</small>
					</div>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">RAM:</strong>
				</div>
				<div class="col-sm-9">
					<div class="col-md-4 no-padding">
						<mat-progress-bar mode="determinate" value="{{mainData?.ram_usage / mainData?.ram_quota * 100}}" class="progress-bar-usage account-ram"></mat-progress-bar>
					</div>
					<div class="col-md-8">
						<small>{{ (mainData?.ram_usage / 1024).toFixed(2) }} kb</small> / <small>{{ (mainData?.ram_quota / 1024).toFixed(2) }} kb</small>
					</div>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="tokensArray?.balances?.length && !frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Tokens:</strong>
				</div>
				<div class="col-sm-9 tokens-container">
					<span *ngFor="let token of tokensArray?.balances">
						<strong *ngIf="token?.currency !== frontConfig?.coin" class="small-tokens">
							<small >{{ token?.amount }}</small> {{ token?.currency }} - 
							<a routerLink="/account/{{token?.contract}}" class="color-green">{{ token?.contract }}</a>
						</strong>
					</span>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Total Resources:</strong>
				</div>
				<div class="col-sm-9">
					<span class="account-info"> CPU weight: <small>{{ mainData?.total_resources?.cpu_weight }}</small></span>
					<span class="account-info"> NET weight: <small>{{ mainData?.total_resources?.net_weight }}</small></span>
					<span class="account-info"> Owner: <small>{{ mainData?.total_resources?.owner }}</small></span>
				</div>
			</div>	

			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Delegated Bandwidth:</strong>
				</div>
				<div class="col-sm-9">
					<span class="account-info"> CPU weight: <small>{{ mainData?.delegated_bandwidth?.cpu_weight }}</small></span>
					<span class="account-info"> from: <small>{{ mainData?.delegated_bandwidth?.from }}</small></span>
					<span class="account-info"> NET weight: <small>{{ mainData?.delegated_bandwidth?.net_weight }}</small></span>
					<span class="account-info"> to: <small>{{ mainData?.delegated_bandwidth?.to }}</small></span>
				</div>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="!frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Voter Info:</strong>
				</div>
				<div class="col-sm-9">
					<span class="account-info"> Last vote weight: <small>{{ mainData?.voter_info?.last_vote_weight }}</small></span>
					<span class="account-info"> Owner: <small>{{ mainData?.voter_info?.owner }}</small></span>
				</div>
			</div>
			
			<div class="col-sm-12 block-info-line" *ngIf="creator?.act?.data?.creator && !frontConfig?.customBalance">
				<div class="col-sm-3">
					<strong class="block-info-header">Created by:</strong>
				</div>
				<div class="col-sm-9">
					<a routerLink="/account/{{creator?.act?.data?.creator}}" class="color-green">
						{{creator?.act?.data?.creator}}
				    </a>
				</div>
			</div>

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Created time:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey">{{ time }}</small>
				</div>
			</div>

			<div class="col-sm-12 block-info-line">
				<mat-accordion>
				  <mat-expansion-panel>
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        Contract Raw Data:
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <ngx-json-viewer [json]="code"></ngx-json-viewer>
				  </mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="col-sm-12 block-info-line" *ngIf="tables.length">
				<mat-accordion>
				  <mat-expansion-panel *ngFor="let elem of tables">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        Table - {{elem.name}}
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <ngx-json-viewer [json]="elem.data"></ngx-json-viewer>
				  </mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="col-sm-12 block-info-line">
				<mat-accordion>
				  <mat-expansion-panel>
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        Blockchain Raw Data:
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <ngx-json-viewer [json]="mainData"></ngx-json-viewer>
				  </mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="col-sm-12 block-info-line">
				<mat-tab-group>
				  
				  <mat-tab label="Actions info">

				  	<div class="spinner-container" *ngIf="spinnerActions">
    					<mat-spinner class="spinner-color"></mat-spinner>
					</div>

					<div class="col-sm-4">
					  <mat-form-field>
					      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by action name">
					  </mat-form-field> 
					</div>

				  	<div class="example-container mat-elevation-z8 main-table block-trx-table">
					
					  <mat-table #table [dataSource]="dataSource" class="big-table" matSort>	
						
						<ng-container matColumnDef="#">
					      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
					      <mat-cell *matCellDef="let element; let index = index;" class="number-flex"> 
					      	    {{ index + 1 }}
					      </mat-cell>
					    </ng-container>

						<ng-container matColumnDef="tx">
					      <mat-header-cell *matHeaderCellDef class="account-action-name"> Tx id </mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					      	<a routerLink="/transaction/{{element?.action_trace?.trx_id}}" class="color-green tx-hash">
					          	{{element?.action_trace?.trx_id}}
					        </a>
					      </mat-cell>
					    </ng-container>

					    <ng-container matColumnDef="date">
					      <mat-header-cell *matHeaderCellDef class="account-action-name"> Date</mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					          	<span class="color-light-grey">{{ moment(element?.block_time).format('lll') }}</span>
					      </mat-cell>
					    </ng-container>

						<ng-container matColumnDef="name">
					      <mat-header-cell *matHeaderCellDef class="account-action-name"> Name</mat-header-cell>
					      <mat-cell *matCellDef="let element" class="account-action-name">
					      		<strong class="actions-name-account">
					      			<span class="color-light-grey">{{element?.action_trace?.act?.account}}</span> -
					          	    {{element?.action_trace?.act?.name}}
					          	</strong>
					      </mat-cell>
					    </ng-container>

					    <!-- Weight Column -->
					    <ng-container matColumnDef="data">
					      <mat-header-cell *matHeaderCellDef class="actions-list-container"> Action data</mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					          	<action-viewer [data]="element?.action_trace?.act" [length]="50" class="color-light-grey actions-list-container"></action-viewer>
					      </mat-cell>
					    </ng-container>

					    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					  </mat-table>
					
              		  <div class="col-sm-4 load-more" *ngIf="actionsNotSorted?.length !== 0">
               			 	<button mat-raised-button color="primary" class="btn-generate" (click)="nextPage(pageIndex + 1)">Load More </button>
              		  </div>

					  <!--<mat-paginator #paginator [length]="actionsTotal" [pageSize]="actions?.length" [pageIndex]="pageIndex" (page)="nextPage($event)"></mat-paginator>-->
					</div>
				  </mat-tab>

				  <mat-tab label="Token transfer">
				  		<div class="actions-main-container token-tranfer-table">
				  				<div class="actions-list">
				  					Time
				  				</div>
				  				<div class="actions-list text-center">
				  					Direction
				  				</div>
				  				<div class="actions-list">
				  					From
				  				</div>
				  				<div class="actions-list">
				  					To
				  				</div>
				  				<div class="actions-list">
				  					Memo
				  				</div>
				  				<div class="actions-list">
				  					Quantity
				  				</div>
				  				<div class="actions-list">
				  					Tx id
				  				</div>
				  		</div>
				        <div *ngFor="let action of actions">
								  <div class="actions-main-container" *ngIf="action?.action_trace?.act?.name === 'transfer'">
								  	<div class="actions-list">
										 <strong>{{ moment(action?.block_time).format('lll')  }}</strong>
									</div>
									<div class="actions-list text-center">
										<div *ngIf="action?.action_trace?.act?.data?.to === mainData?.account_name" class="color-green">
											<strong>In</strong>
										</div>
										<div *ngIf="action?.action_trace?.act?.data?.to !== mainData?.account_name" class="color-red">
											<strong>Out</strong>
										</div>
									</div>
									<div class="actions-list">
										<a routerLink="/account/{{action?.action_trace?.act?.data?.from}}" class="color-green">
											<strong>{{ action?.action_trace?.act?.data?.from }}</strong>
										</a>
									</div>
									<div class="actions-list">
										<a routerLink="/account/{{action?.action_trace?.act?.data?.to}}" class="color-green">
											<strong>{{ action?.action_trace?.act?.data?.to }}</strong>
										</a>
									</div>
									<div class="actions-list">
										<div class="memo-data">{{ action?.action_trace?.act?.data?.memo }}</div>
										<i class="far fa-search icon-memo-open" *ngIf="action?.action_trace?.act?.data?.memo?.length > 15" (click)="openDialogMemo($event, action?.action_trace?.act?.data?.memo)"></i>
									</div>
									<div class="actions-list">
										<strong>{{ action?.action_trace?.act?.data?.quantity }}</strong>
									</div>
									<div class="actions-list">
										<a routerLink="/transaction/{{action?.action_trace?.trx_id}}" class="color-green tx-hash">
											{{ action?.action_trace?.trx_id }}
										</a>
									</div>
								  </div>		 
						</div>
				  </mat-tab>

				  <mat-tab label="Actions (Raw Data)">
				  		<ngx-json-viewer [json]="actions"></ngx-json-viewer>
				  </mat-tab>

				  <mat-tab label="Permissions ({{ mainData?.permissions.length }})">
				  	<div class="example-container mat-elevation-z8 main-table block-trx-table">
					
					  <mat-table #table [dataSource]="dataSourcePermission" class="big-table" matSort>	

					    <!-- Weight Column -->
					    <ng-container matColumnDef="Permission">
					      <mat-header-cell *matHeaderCellDef> Permission</mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					          	<strong>{{ element?.perm_name }}</strong>
					      </mat-cell>
					    </ng-container>

					    <ng-container matColumnDef="Address">
					      <mat-header-cell *matHeaderCellDef class="account-address"> Account/Address</mat-header-cell>
					      <mat-cell *matCellDef="let element" class="account-address"> 
					          	<a routerLink="/address/{{element?.required_auth?.keys[0]?.key}}" class="color-green" *ngIf="element?.required_auth?.keys?.length">
					          		{{ element?.required_auth?.keys[0]?.key }}
					          	</a>
					          	<div *ngIf="element?.required_auth?.accounts?.length">
					          		<div *ngFor="let elem of element?.required_auth?.accounts;" class="multisig-container">
					          			<a routerLink="/account/{{elem?.permission?.actor}}" class="color-green">{{elem?.permission?.actor}}</a> -   
					          			weight: <strong>{{elem?.weight}}</strong>
					          		</div>
					          	</div>
					      </mat-cell>
					    </ng-container>
						
						<ng-container matColumnDef="Threshold">
					      <mat-header-cell *matHeaderCellDef> Threshold</mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					          	{{ element?.required_auth?.threshold }}
					      </mat-cell>
					    </ng-container>

						<ng-container matColumnDef="Weight">
					      <mat-header-cell *matHeaderCellDef> Weight</mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					          	{{ element?.required_auth?.keys[0]?.weight }}
					      </mat-cell>
					    </ng-container>

					    <mat-header-row *matHeaderRowDef="displayedColumnsPermissiopn"></mat-header-row>
					    <mat-row *matRowDef="let row; columns: displayedColumnsPermissiopn;"></mat-row>
					  </mat-table>
					</div>
				  </mat-tab>

				   <mat-tab label="Controlled Accounts ({{ controlledAccount?.controlled_accounts?.length }})">
				  		  <div *ngFor="let acc of controlledAccount?.controlled_accounts;" class="controlled-acc">
				  		  	<a routerLink="/account/{{acc}}" class="color-green">
					          		<strong>{{ acc }}</strong>
					      	</a> 
				  		  </div>
				  </mat-tab>

				</mat-tab-group>
			</div>
			
	</div>
</div>