.account-info{
	font-size: 13px;
	margin-left: 10px;
}
.account-info:first-child{
	margin-left: 0px;
}
small {
    font-size: 13px;
}
.account-address{
	flex: 5 !important;
}
.controlled-acc{
	margin-top: 15px;
}