<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

	<h1 class="market-header">Transaction  No. {{ mainData?.block_num }}</h1>

	<div class="block-info">

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Producer:</strong>
				</div>
				<div class="col-sm-9">
					<small><a [routerLink]="['/account', mainData?.producer ]" class="color-green">{{ mainData?.producer }}</a></small>
				</div>
			</div>

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Hash:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey">{{ mainData?.id}}</small>
				</div>
			</div>

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Last irreversible block:</strong>
				</div>
				<div class="col-sm-9">
					<small>{{ mainData?.last_irreversible_block  }}</small>
				</div>
			</div>
			
			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Confirmed:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey">{{ mainData?.confirmed  }}</small>
				</div>
			</div>	

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Block Time:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey">{{ time }}</small>
				</div>
			</div>
			
			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Trx:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey">{{ mainData?.trx }}</small>
				</div>
			</div>

			<div class="col-sm-12">
					<div class="example-container mat-elevation-z8 main-table block-trx-table" *ngIf="trxArr.length">
					
					  <mat-table #table [dataSource]="dataSource" matSort>
					
					    <ng-container matColumnDef="cpu">
					      <mat-header-cell *matHeaderCellDef> CPU </mat-header-cell>
					      <mat-cell *matCellDef="let element; let i = index">
					          <strong>{{ element?.cpu }}</strong>
					      </mat-cell>
					    </ng-container>
					    
					     <ng-container matColumnDef="net">
					      <mat-header-cell *matHeaderCellDef> NET </mat-header-cell>
					      <mat-cell *matCellDef="let element; let i = index">
					          <strong>{{ element?.net }}</strong>
					      </mat-cell>
					    </ng-container>

					    <!-- Name Column -->
					    <ng-container matColumnDef="hash">
					      <mat-header-cell *matHeaderCellDef> Hash </mat-header-cell>
					      <mat-cell *matCellDef="let element" class="marketcap-container">
					          <a [routerLink]="['/transaction', element?.hash ]" class="color-green tx-hash">{{ element?.hash }}</a>
					       </mat-cell>
					    </ng-container>
					    
					    <ng-container matColumnDef="status">
					      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					             <strong>{{element?.status}}</strong>
					      </mat-cell>
					    </ng-container>
					    
					    <!-- Name Column -->
					    <ng-container matColumnDef="expiration">
					      <mat-header-cell *matHeaderCellDef> Expiration</mat-header-cell>
					      <mat-cell *matCellDef="let element" class="change-container"> 
					            {{ moment(element?.expiration).format('MMMM Do YYYY, h:mm:ss a') }}
					      </mat-cell>
					    </ng-container>		

					    <!-- Weight Column -->
					    <ng-container matColumnDef="actions">
					      <mat-header-cell *matHeaderCellDef class="actions-list-container"> Actions </mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					          	<!--{{element?.actions}}-->
								<div *ngFor="let action of element?.actions" class="actions-list-container">
								  
								  <div *ngIf="action?.data?.quantity">
									<div class="col-sm-2 actions-list">
										<a [routerLink]="['/account', action?.data?.from ]" class="color-green">
											<strong>{{ action?.data?.from }}</strong>
										</a>
										<i class="fas fa-long-arrow-right pull-right"></i>
									</div>
									<div class="col-sm-3 actions-list">
										<a [routerLink]="['/account', action?.data?.to ]" class="color-green">
											<strong>{{ action?.data?.to }}</strong>
										</a>
									</div>
									<div class="col-sm-4 actions-list">
										{{ action?.data?.memo }}
									</div>
									<div class="col-sm-3 actions-list">
										{{ action?.data?.quantity }}
									</div>
								  </div>

								  <div *ngIf="action?.data?.creator">
									<div class="col-sm-3 actions-list">
										Creator: <a [routerLink]="['/account', action?.data?.from ]" class="color-green">
											<strong>{{ action?.data?.creator }}</strong>
										</a>
									</div>
									<div class="col-sm-8 actions-list">
										Name: <a [routerLink]="['/account', action?.data?.to ]" class="color-green">
											<strong>{{ action?.data?.name }}</strong>
										</a>
									</div>
								  </div>

								  <div *ngIf="action?.data?.stake_cpu_quantity">
									<div class="col-sm-2 actions-list">
										<a [routerLink]="['/account', action?.data?.from ]" class="color-green">
											<strong>{{ action?.data?.from }}</strong>
										</a>
										<i class="fas fa-long-arrow-right pull-right"></i>
									</div>
									<div class="col-sm-3 actions-list">
										<a [routerLink]="['/account', action?.data?.to ]" class="color-green">
											<strong>{{ action?.data?.receiver }}</strong>
										</a>
									</div>
									<div class="col-sm-3 actions-list">
										{{ action?.data?.stake_cpu_quantity }}
									</div>
									<div class="col-sm-3 actions-list">
										{{ action?.data?.stake_net_quantity }}
									</div>
									<div class="col-sm-1 actions-list">
										{{ action?.data?.transfer }}
									</div>
								  </div>

								  <div *ngIf="action?.data?.payer">
									<div class="col-sm-3 actions-list">
										Payer: <a [routerLink]="['/account', action?.data?.from ]" class="color-green">
											<strong>{{ action?.data?.payer }}</strong>
										</a>
									</div>
									<div class="col-sm-3 actions-list">
										Bytes: {{ action?.data?.bytes }}
									</div>
									<div class="col-sm-6 actions-list">
										Receiver: <a [routerLink]="['/account', action?.data?.to ]" class="color-green">
											<strong>{{ action?.data?.receiver }}</strong>
										</a>
									</div>
								  </div>

								</div>
					      </mat-cell>
					    </ng-container>

					    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					  </mat-table>
					
					  <!--<mat-paginator #paginator
					                 [pageSize]="100"
					                 [pageSizeOptions]="[50, 100]">
					  </mat-paginator>-->
					</div>
			</div>
	</div>
</div>