<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

	<h1 class="market-header">Transaction </h1>

	<div class="block-info">

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Block Number:</strong>
				</div>
				<div class="col-sm-9">
					<a [routerLink]="['/block', mainData?.block_num ]" class="color-green tx-hash">
         				 <strong>{{ mainData?.block_num }}</strong>
        			</a>
				</div>
			</div>

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Hash:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey tx-mobile-hash">{{ mainData?.id}}</small>
				</div>
			</div>	

			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Block Time:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey">{{ time }}</small>
				</div>
			</div>
			
			<div class="col-sm-12 block-info-line">
				<div class="col-sm-3">
					<strong class="block-info-header">Actions:</strong>
				</div>
				<div class="col-sm-9">
					<small class="color-grey">{{ mainData?.trx?.trx?.actions?.length }}</small>
				</div>
			</div>

			<div class="col-sm-12 block-info-line">
				<mat-accordion>
				  <mat-expansion-panel>
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        Blockchain Raw Data:
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <ngx-json-viewer [json]="mainData"></ngx-json-viewer>
				  </mat-expansion-panel>
				</mat-accordion>
			</div>

			<div class="col-sm-12 block-info-line">
				<mat-tab-group>
				  <mat-tab label="Token transfer">
				  		<div class="actions-main-container token-tranfer-table">
				  				<div class="actions-list text-center">
				  					Direction
				  				</div>
				  				<div class="actions-list">
				  					From
				  				</div>
				  				<div class="actions-list">
				  					To
				  				</div>
				  				<div class="actions-list">
				  					Memo
				  				</div>
				  				<div class="actions-list">
				  					Quantity
				  				</div>
				  		</div>
				        <div *ngFor="let action of mainData?.trx?.trx?.actions">
								  <div class="actions-main-container" *ngIf="action?.name === 'transfer'">
									<div class="actions-list text-center">
										<div *ngIf="action?.data?.to === mainData?.account_name" class="color-green">
											<strong>In</strong>
										</div>
										<div *ngIf="action?.data?.to !== mainData?.account_name" class="color-red">
											<strong>Out</strong>
										</div>
									</div>
									<div class="actions-list">
										<a [routerLink]="['/account', action?.data?.from ]" class="color-green">
											<strong>{{ action?.data?.from }}</strong>
										</a>
									</div>
									<div class="actions-list">
										<a [routerLink]="['/account', action?.data?.to ]" class="color-green">
											<strong>{{ action?.data?.to }}</strong>
										</a>
									</div>
									<div class="actions-list">
										
										<div class="memo-data">{{ action?.data?.memo }}</div>
										<i class="far fa-search icon-memo-open" *ngIf="action?.data?.memo?.length > 15" (click)="openDialogMemo($event, action?.data?.memo)"></i>
									</div>
									<div class="actions-list">
										<strong>{{ action?.data?.quantity }}</strong>
									</div>
								  </div>		 
						</div>
				  </mat-tab>
				  <mat-tab label="Actions info">
				  	<div class="example-container mat-elevation-z8 main-table block-trx-table" *ngIf="mainData?.trx?.trx?.actions">
					
					  <mat-table #table [dataSource]="dataSource" matSort>	

					    <!-- Weight Column -->
					    <ng-container matColumnDef="actions">
					      <mat-header-cell *matHeaderCellDef class="actions-list-container"> Actions Info</mat-header-cell>
					      <mat-cell *matCellDef="let element"> 
					          	<!--{{element?.actions}}-->
								<div *ngFor="let action of element?.trx?.actions" class="actions-list-container">

								  <div class="actions-main-container">
									<div class="actions-list">
										<strong>{{ action?.name }}</strong>
									</div>
									<div class="actions-list">
										<action-viewer [data]="action" [length]="50" class="color-light-grey"></action-viewer>
									</div>
								  </div>

								</div>
					      </mat-cell>
					    </ng-container>

					    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					  </mat-table>
					
					  <!--<mat-paginator #paginator
					                 [pageSize]="100"
					                 [pageSizeOptions]="[50, 100]">
					  </mat-paginator>-->
					</div>
				  </mat-tab>
				  <mat-tab label="Actions (Raw Data)">
				  		<ngx-json-viewer [json]="mainData?.trx?.trx?.actions"></ngx-json-viewer>
				  </mat-tab>
				</mat-tab-group>
			</div>
	</div>
</div>