    
<div class="row">
<div class="col-md-6">
<h1 class="market-header">Blocks</h1>

<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Number">
      <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
          <strong>{{ element?.block_num.toLocaleString() }}</strong>
      </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Hash">
      <mat-header-cell *matHeaderCellDef> Hash </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a [routerLink]="['/block', element?.id ]" class="color-green tx-hash">{{ element?.id }}</a>
       </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Transactions">
      <mat-header-cell *matHeaderCellDef> Transactions</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center"> 
             <strong>{{element?.transactions.length}}</strong>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Producer">
      <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
          {{element?.producer.toUpperCase()}}
      </mat-cell>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="Time">
      <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
            {{ moment(element?.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
                 [pageSize]="100"
                 [pageSizeOptions]="[50, 100]">
  </mat-paginator>-->
</div>
</div>

<div class="col-md-6">
<h1 class="market-header">Transactions</h1>
<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSourceTrx" matSort>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Hash">
      <mat-header-cell *matHeaderCellDef> Tx Hash </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a href="" class="color-green tx-hash">{{ element?.id }}</a>
       </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Number">
      <mat-header-cell *matHeaderCellDef> Block Number </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
          <a href="" class="color-green"><strong>{{ element?.block_num.toLocaleString() }}</strong></a>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Transactions">
      <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center"> 
             <strong>{{element?.transactions.length}} EOS</strong>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Producer">
      <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
          {{element?.producer.toUpperCase()}}
      </mat-cell>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="Time">
      <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
            {{ moment(element?.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
                 [pageSize]="100"
                 [pageSizeOptions]="[50, 100]">
  </mat-paginator>-->
</div>
</div>

</div>