    
<div class="row">
<div class="col-md-6">
<h1 class="market-header">Blocks</h1>

<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Number">
      <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
          <strong>{{ element?.block_num.toLocaleString() }}</strong>
      </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Hash">
      <mat-header-cell *matHeaderCellDef> Hash </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a [routerLink]="['/block', element?.id ]" class="color-green tx-hash">{{ element?.id }}</a>
       </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Transactions">
      <mat-header-cell *matHeaderCellDef> Transactions</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center"> 
             <strong>{{element?.transactions.length}}</strong>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Producer">
      <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
          {{element?.producer.toUpperCase()}}
      </mat-cell>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="Time">
      <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
            {{ moment(element?.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
                 [pageSize]="100"
                 [pageSizeOptions]="[50, 100]">
  </mat-paginator>-->
</div>
</div>

<div class="col-md-6">
<h1 class="market-header">Transactions</h1>
<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSourceTrx">
    
    <!-- Name Column -->
    <ng-container matColumnDef="Number">
      <mat-header-cell *matHeaderCellDef> Block Number </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
          <a [routerLink]="['/block', element?.block_num ]" class="color-green tx-hash"><strong>{{ element?.block_num.toLocaleString() }}</strong></a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Hash">
      <mat-header-cell *matHeaderCellDef> Tx Hash </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a [routerLink]="['/block', element?.transaction_mroot ]" class="color-green tx-hash">
            {{ element?.transaction_mroot }}
          </a>
       </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Transactions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center"> 
             <strong>{{element?.actions}}</strong>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Producer">
      <mat-header-cell *matHeaderCellDef> Producer </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
          {{ element?.producer }}
      </mat-cell>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="Time">
      <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
            {{ moment(element?.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
                 [pageSize]="100"
                 [pageSizeOptions]="[50, 100]">
  </mat-paginator>-->
</div>
</div>

<!--<div class="col-md-2">
  <iframe src="https://cryptics.tech/cryptics_table_widget/index.html" style="border:1px solid #fafafa; box-shadow:0px 0px 6px 3px #fafafa; margin-top: 48px;" width="200" height="500" scrolling="yes"></iframe>
</div>-->

</div>