<div class="container">

<div class="spinner-container" *ngIf="scatterService.spinnerRAM">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<div class="col-sm-8 col-md-9 padding-left-no">
   <h1 class="market-header col-sm-8">{{frontConfig?.coin}} RAM price <small>{{frontConfig?.coin}}/kb RAM</small></h1>
   <div class="col-sm-4 button-menu-container no-padding">
      <!--<button mat-raised-button color="primary" class="pull-right" [matMenuTriggerFor]="menu">{{ defaultTimeName }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let elem of timeArray;" (click)="selectDay(elem)">{{ elem }}</button>
      </mat-menu>-->
      <!--<a mat-mini-fab color="primary" class="pull-right alert-button" href="https://t.me/EOSwebRamBot" target="_blank"><i class="fas fa-bell"></i></a>-->
      <div class="pull-right">
        <span class="widget-chart-btn" [ngClass]="{'widget-btn-active': elem === defaultTimeName}" *ngFor="let elem of timeArray;" (click)="selectDay(elem)">{{ elem }}</span>
      </div>
   </div>
   
   <div [ngClass]="{'ram-scale': autoscale, 'ram-page': !autoscale}">
      <ngx-charts-line-chart *ngIf="mainCurrencyChartDataRes"
                 [scheme]="ngxChartOptions.colorScheme"
                 [results]="[{ name: frontConfig?.coin + '/kb', series: mainCurrencyChartDataRes || [{name: '0', value: 1}] }]"
                 [gradient]="ngxChartOptions.gradient"
                 [xAxis]="ngxChartOptions.showXAxis"
                 [yAxis]="ngxChartOptions.showYAxis"
                 [legend]="ngxChartOptions.showLegend"
                 [showXAxisLabel]="ngxChartOptions.showXAxisLabel"
                 [showYAxisLabel]="ngxChartOptions.showYAxisLabel"
                 [xAxisLabel]="ngxChartOptions.xAxisLabel"
                 [yAxisLabel]="ngxChartOptions.yAxisLabel"
                 [autoScale]="ngxChartOptions.autoScale"
                 [timeline]="ngxChartOptions.timeline"
                 [curve]="curve">
    </ngx-charts-line-chart>
 </div> 
</div>
<div class="col-sm-4 col-md-3 padding-right-no text-right analytics-container-right no-padding">
    <div class="col-sm-12">
      <div class="analytics-header-right">{{frontConfig?.coin}} RAM price:</div>
      <div class="analytics-text-right">{{ scatterService.ramPrice }} {{frontConfig?.coin}}/kb</div>
    </div>

    <div class="col-sm-12">
      <div class="analytics-header-right">Overall RAM:</div>
      <div class="analytics-text-right">
          <small class="pull-left text-ram">
              {{ (globalStat?.total_ram_bytes_reserved / 1024 / 1024 / 1024).toLocaleString() }} GB / {{ (globalStat?.total_ram_bytes_reserved / globalStat?.max_ram_size * 100).toLocaleString() }} %
          </small>
          <small class="pull-right text-ram">
              {{ (globalStat?.max_ram_size / 1024 / 1024 / 1024).toLocaleString() }} GB
          </small>
      </div>
      <div class="analytics-text-right">
        <mat-progress-bar mode="determinate" value="{{ globalStat?.total_ram_bytes_reserved / globalStat?.max_ram_size * 100 }}" class="progress-bar-usage account-ram-usage analytics-ram"></mat-progress-bar>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="!loginEOSService?.accountName">
      <div class="analytics-header-right">
        <button mat-raised-button color="primary" class="btn-generate" (click)="loginEOSService.openPopup()">Connect Wallet</button>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="loginEOSService?.accountName">
      <div class="analytics-header-right logout">
        <button mat-raised-button color="primary"  (click)="loginEOSService.logout()">Logout</button>
      </div>
    </div>
    
    <div class="col-sm-6" *ngIf="loginEOSService?.accountName">
      <div class="analytics-header-right">
        Account:
      </div>
      <div class="analytics-text-right">
        <a [routerLink]="['/account', loginEOSService?.accountName]" class="color-green">
            {{ loginEOSService?.accountName }}
        </a>
      </div>
    </div>

    <div class="col-sm-6" *ngIf="loginEOSService?.accountName">
      <div class="analytics-header-right">
         Unstake:
      </div>
      <div class="analytics-text-right">
        {{ scatterService.unstaked?.toLocaleString() }} {{frontConfig?.coin}}
      </div>
    </div>
    
    <div class="col-sm-12" *ngIf="loginEOSService?.accountName">
      <div class="analytics-header-right top-ten">
        RAM:
      </div>
      <div class="analytics-text-right">
        <mat-progress-bar mode="determinate" value="{{scatterService.mainDataRAM?.ram_usage / scatterService.mainDataRAM?.ram_quota * 100}}" class="progress-bar-usage account-ram"></mat-progress-bar>
        <small>{{ (scatterService.mainDataRAM?.ram_usage / 1024).toFixed(2) }} kb</small> / <small>{{ (scatterService.mainDataRAM?.ram_quota / 1024).toFixed(2) }} kb</small>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="loginEOSService?.accountName">
      <div class="analytics-header-right top-ten">
        CPU:
      </div>
      <div class="analytics-text-right">
        <mat-progress-bar mode="determinate" value="{{scatterService.mainDataRAM?.cpu_limit?.used / scatterService.mainDataRAM?.cpu_limit?.max * 100}}" class="progress-bar-usage account-cpu"></mat-progress-bar>
        <small>{{ (scatterService.mainDataRAM?.cpu_limit?.used / 1000000).toFixed(2) }} sec</small> / <small>{{ (scatterService.mainDataRAM?.cpu_limit?.max / 1000000).toFixed(2) }} sec</small>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="loginEOSService?.accountName">
      <div class="analytics-header-right top-ten">
        NET:
      </div>
      <div class="analytics-text-right ">
        <mat-progress-bar mode="determinate" value="{{scatterService.mainDataRAM?.net_limit?.used / scatterService.mainDataRAM?.net_limit?.max * 100}}" class="progress-bar-usage account-net"></mat-progress-bar>
        <small>{{ (scatterService.mainDataRAM?.net_limit?.used / 1024).toFixed(2) }} kb</small> / <small>{{ (scatterService.mainDataRAM?.net_limit?.max / 1024).toFixed(2) }} kb</small>
      </div>
    </div>
  
</div>

<div class="col-sm-5" *ngIf="loginEOSService?.accountName">
    <mat-tab-group>
      <mat-tab label="Buy ram">
        <div class="col-sm-4">
            <mat-form-field>
                <input matInput [placeholder]="frontConfig?.coin" [(ngModel)]="scatterService.buyRAM.eos" (ngModelChange)="buyChangeEOS($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
               <input matInput placeholder="KB" [(ngModel)]="scatterService.buyRAM.kb" (ngModelChange)="buyChangeKB($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
               <button mat-raised-button color="primary" (click)="scatterService.funcBuyRAM(scatterService.buyRAM.eos)">Buy Ram</button>
        </div>
      </mat-tab>
      <mat-tab label="Sell ram">
        <div class="col-sm-4">
            <mat-form-field>
                <input matInput [placeholder]="frontConfig?.coin" [(ngModel)]="scatterService.sellRAM.eos" (ngModelChange)="sellChangeEOS($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
               <input matInput placeholder="KB" [(ngModel)]="scatterService.sellRAM.kb" (ngModelChange)="sellChangeKB($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
               <button mat-raised-button color="warn" (click)="scatterService.funcSellRAM(scatterService.sellRAM.kb)">Sell Ram</button>
        </div>
      </mat-tab>
      <mat-tab label="Donate">
        <div class="col-sm-4">
            <mat-form-field>
                <input matInput [placeholder]="frontConfig?.coin" [(ngModel)]="scatterService.donation">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
               <button mat-raised-button color="warn" (click)="scatterService.funcDonation(donation)">Donate</button>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>

<div class="col-sm-7 order-history-table" *ngIf="loginEOSService?.accountName">
      <div class="example-container mat-elevation-z8 main-table block-trx-table">
          
            <mat-table #table [dataSource]="scatterService.dataSourceRAM" class="big-table" matSort>  

              <!-- Weight Column -->
              <ng-container matColumnDef="Tx">
                <mat-header-cell *matHeaderCellDef> Tx id</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                      <strong>
                        <a [routerLink]="['/transaction', element?.tx_id ]" class="color-green tx-hash">{{ element?.tx_id }}</a>
                      </strong>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Price">
                <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <strong>
                        {{ parseNumber(element?.price) }} {{frontConfig?.coin}}
                    </strong>
                </mat-cell>
              </ng-container>
            
            <ng-container matColumnDef="Type">
                <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                      <strong>{{ element?.type }}</strong>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Amount">
                <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                       <strong>{{ element?.amount / 1024 }} kb</strong>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                      {{ moment(element?.date).format('lll') }}
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
</div>

</div>