<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<div class="col-sm-9 padding-left-no">
   <h1 class="market-header col-sm-6">EOS RAM price <small>EOS/kb RAM</small></h1>
   <div class="col-sm-6 button-menu-container">
     <button mat-raised-button color="primary" class="pull-right" [matMenuTriggerFor]="menu">{{ defaultTimeName }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let elem of timeArray;" (click)="selectDay(elem)">{{ elem }}</button>
      </mat-menu>
      <!--<a mat-mini-fab color="primary" class="pull-right alert-button" href="https://t.me/EOSwebRamBot" target="_blank"><i class="fas fa-bell"></i></a>-->
   </div>
   
   <ngx-charts-line-chart *ngIf="mainCurrencyChartDataRes"
              [view]="ngxChartOptions.view"
              [scheme]="ngxChartOptions.colorScheme"
              [results]="[{ name: 'EOS/kb', series: mainCurrencyChartDataRes || [{name: '0', value: 1}] }]"
              [gradient]="ngxChartOptions.gradient"
              [xAxis]="ngxChartOptions.showXAxis"
              [yAxis]="ngxChartOptions.showYAxis"
              [legend]="ngxChartOptions.showLegend"
              [showXAxisLabel]="ngxChartOptions.showXAxisLabel"
              [showYAxisLabel]="ngxChartOptions.showYAxisLabel"
              [xAxisLabel]="ngxChartOptions.xAxisLabel"
              [yAxisLabel]="ngxChartOptions.yAxisLabel"
              [autoScale]="ngxChartOptions.autoScale"
              [timeline]="ngxChartOptions.timeline"
              [curve]="curve">
 </ngx-charts-line-chart> 
</div>
<div class="col-sm-3 padding-right-no text-right analytics-container-right">
    <div class="col-sm-12">
      <div class="analytics-header-right">EOS RAM price:</div>
      <div class="analytics-text-right">{{ ramPrice }} EOS/kb</div>
    </div>

    <div class="col-sm-12">
      <div class="analytics-header-right">Overall RAM:</div>
      <div class="analytics-text-right">
          <small class="pull-left text-ram">
              {{ (globalStat?.total_ram_bytes_reserved / 1024 / 1024 / 1024).toLocaleString() }} GB / {{ (globalStat?.total_ram_bytes_reserved / globalStat?.max_ram_size * 100).toLocaleString() }} %
          </small>
          <small class="pull-right text-ram">
              {{ (globalStat?.max_ram_size / 1024 / 1024 / 1024).toLocaleString() }} GB
          </small>
      </div>
      <div class="analytics-text-right">
        <mat-progress-bar mode="determinate" value="{{ globalStat?.total_ram_bytes_reserved / globalStat?.max_ram_size * 100 }}" class="progress-bar-usage account-ram-usage analytics-ram"></mat-progress-bar>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="!identity">
      <div class="analytics-header-right">
        <button mat-raised-button color="primary" class="btn-generate" (click)="loginScatter()">login with Scatter</button>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="identity">
      <div class="analytics-header-right logout">
        <button mat-raised-button color="primary"  (click)="logoutScatter()">Logout</button>
      </div>
    </div>
    
    <div class="col-sm-6" *ngIf="identity">
      <div class="analytics-header-right">
        Account:
      </div>
      <div class="analytics-text-right">
        <a [routerLink]="['/account', identity]" class="color-green">
            {{ identity }}
        </a>
      </div>
    </div>

    <div class="col-sm-6" *ngIf="identity">
      <div class="analytics-header-right">
         Unstake:
      </div>
      <div class="analytics-text-right">
        {{ unstaked?.toLocaleString() }} EOS
      </div>
    </div>
    
    <div class="col-sm-12" *ngIf="identity">
      <div class="analytics-header-right top-ten">
        RAM:
      </div>
      <div class="analytics-text-right">
        <mat-progress-bar mode="determinate" value="{{mainData?.ram_usage / mainData?.ram_quota * 100}}" class="progress-bar-usage account-ram"></mat-progress-bar>
        <small>{{ (mainData?.ram_usage / 1024).toFixed(2) }} kb</small> / <small>{{ (mainData?.ram_quota / 1024).toFixed(2) }} kb</small>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="identity">
      <div class="analytics-header-right top-ten">
        CPU:
      </div>
      <div class="analytics-text-right">
        <mat-progress-bar mode="determinate" value="{{mainData?.cpu_limit?.used / mainData?.cpu_limit?.max * 100}}" class="progress-bar-usage account-cpu"></mat-progress-bar>
        <small>{{ (mainData?.cpu_limit?.used / 1000000).toFixed(2) }} sec</small> / <small>{{ (mainData?.cpu_limit?.max / 1000000).toFixed(2) }} sec</small>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="identity">
      <div class="analytics-header-right top-ten">
        NET:
      </div>
      <div class="analytics-text-right ">
        <mat-progress-bar mode="determinate" value="{{mainData?.net_limit?.used / mainData?.net_limit?.max * 100}}" class="progress-bar-usage account-net"></mat-progress-bar>
        <small>{{ (mainData?.net_limit?.used / 1024).toFixed(2) }} kb</small> / <small>{{ (mainData?.net_limit?.max / 1024).toFixed(2) }} kb</small>
      </div>
    </div>
  
</div>

<div class="col-sm-5" *ngIf="identity">
    <mat-tab-group>
      <mat-tab label="Buy ram">
        <div class="col-sm-4">
            <mat-form-field>
                <input matInput placeholder="EOS" [(ngModel)]="buyRAM.eos" (ngModelChange)="buyChangeEOS($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
               <input matInput placeholder="KB" [(ngModel)]="buyRAM.kb" (ngModelChange)="buyChangeKB($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
               <button mat-raised-button color="primary" (click)="funcBuyRAM(buyRAM.eos)">Buy Ram</button>
        </div>
      </mat-tab>
      <mat-tab label="Sell ram">
        <div class="col-sm-4">
            <mat-form-field>
                <input matInput placeholder="EOS" [(ngModel)]="sellRAM.eos" (ngModelChange)="sellChangeEOS($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
               <input matInput placeholder="KB" [(ngModel)]="sellRAM.kb" (ngModelChange)="sellChangeKB($event)">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
               <button mat-raised-button color="warn" (click)="funcSellRAM(sellRAM.kb)">Sell Ram</button>
        </div>
      </mat-tab>
      <mat-tab label="Donate">
        <div class="col-sm-4">
            <mat-form-field>
                <input matInput placeholder="EOS" [(ngModel)]="donation">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
               <button mat-raised-button color="warn" (click)="funcDonation(donation)">Donate</button>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>

<div class="col-sm-7 order-history-table" *ngIf="identity">
      <div class="example-container mat-elevation-z8 main-table block-trx-table">
          
            <mat-table #table [dataSource]="dataSource" class="big-table" matSort>  

              <!-- Weight Column -->
              <ng-container matColumnDef="Tx">
                <mat-header-cell *matHeaderCellDef> Tx id</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                      <strong>
                        <a [routerLink]="['/transaction', element?.tx_id ]" class="color-green tx-hash">{{ element?.tx_id }}</a>
                      </strong>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Price">
                <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <strong>
                        {{ parseNumber(element?.price) }} EOS
                    </strong>
                </mat-cell>
              </ng-container>
            
            <ng-container matColumnDef="Type">
                <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                      <strong>{{ element?.type }}</strong>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Amount">
                <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                       <strong>{{ element?.amount / 1024 }} kb</strong>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                      {{ moment(element?.date).format('lll') }}
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
</div>

</div>