.account-info{
	font-size: 13px;
	margin-left: 10px;
}
.account-info:first-child{
	margin-left: 0px;
}
small {
    font-size: 13px;
}

.analytics-container-right{
	margin-top: 50px;
}
.analytics-header-right{
	margin-bottom: 7px;
	margin-top: 30px;
	color: #9f9fa1;
	font-size: 14px;
}
.analytics-text-right{
	font-size: 16px;
	font-weight: bold;
}
.analytics-ram{
	margin-top: 10px;
}
.text-ram{
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 12px;
}
mat-tab-group{
	margin-top: 50px;
}
.order-history-table{
	margin-top: 50px;
}
.mat-tab-body-content{
	padding: 10px 30px;
}
.top-ten{
	margin-top: 10px;
}
.alert-button{
	margin-right: 25px;
}
.logout{
	margin-top: 20px;
    margin-bottom: 0px;
}


