<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<div class="col-md-12">
<h1 class="market-header col-sm-3">Producers rate</h1>

<div class="progress-bar-votes col-sm-5" *ngIf="chainNumber">
    <mat-progress-bar mode="determinate" value="{{chainPercentage}}" class="progress-bar-usage account-ram" *ngIf="frontConfig.coin !== 'WAX'"></mat-progress-bar> 
    <span *ngIf="frontConfig.coin !== 'WAX'">Votes: {{ chainNumber?.toLocaleString() }} ({{chainPercentage}}%)</span>
</div>

<div class="col-sm-4 filter-header">
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by producer name">
  </mat-form-field> 
</div>
<!--<h3 class="producer-candidate pull-right"><small>our producer candidate: </small> 
  <strong><a routerLink="/producer/eoswebnetbp1" class="color-green">eoswebnetbp1</a></strong>
</h3>-->

<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSource" class="big-table">

    <ng-container matColumnDef="#">
      <mat-header-cell *matHeaderCellDef class="top-number-analytics"> # </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" class="top-number-analytics">
          <strong>{{ element?.index }}</strong>
      </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef class="url-flex"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container url-flex">
          <img [src]="(element?.image) ? element?.image : '/assets/images/eosio.png'" class="branding-logo" alt="" width="40">
          <a [routerLink]="['/producer', element?.owner ]" [ngClass]="{'name-img': element?.image }" class="color-green" id="{{element?.owner}}">
          	<strong>{{ element?.owner }}</strong>
          </a>
       </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <button mat-raised-button color="primary" class="status" *ngIf="element?.index <= 21 && producer !== element.owner">Top 21</button>
          <button mat-raised-button color="accent" class="status" *ngIf="producer === element.owner">Producing</button>
          <button mat-raised-button color="warn" class="status" *ngIf="element?.index > 21 && producer !== element.owner">Standby</button>
       </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Total Votes">
      <mat-header-cell *matHeaderCellDef> Total Votes ({{frontConfig?.coin}})</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
             <strong> {{ element?.total_votes }}</strong>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Url">
      <mat-header-cell *matHeaderCellDef class="url-flex"> Url </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey url-flex"> 
          <a href="{{element?.url}}" target="_blank" class="color-green">{{element?.url}}</a>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Location">
      <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
            <img src="/assets/images/flags/{{element?.location}}.svg" *ngIf="element?.location?.length === 2" width="30" alt="">
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Rate">
      <mat-header-cell *matHeaderCellDef> Rate</mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-container"> 
           <strong> {{ element?.rate }} %</strong>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Rewards">
      <mat-header-cell *matHeaderCellDef> Rewards Per Day</mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-container"> 
           <strong> {{ element?.rewards }} {{frontConfig?.coin}}</strong>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="80"
                 [pageSizeOptions]="[80, 500]">
  </mat-paginator>
</div>
</div>

</div>