.account-info{
	font-size: 13px;
	margin-left: 10px;
}
.account-info:first-child{
	margin-left: 0px;
}
small {
    font-size: 13px;
}
.producer-candidate{
	margin-top: 47px;
}
.status{
	padding: 0;
    height: 30px;
    line-height: 20px;
}
.url-flex{
	flex: 2;
}
.branding-logo{
	border-radius: 50%;
	margin-right: 15px;
	float: left;
}
.name-img{
	display: table;
	margin-top: 8px;
}