<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<div class="col-md-12">
<h1 class="market-header pull-left col-sm-8">Producers rate</h1>

<div class="col-sm-4 filter-header">
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by producer name">
  </mat-form-field> 
</div>
<!--<h3 class="producer-candidate pull-right"><small>our producer candidate: </small> 
  <strong><a routerLink="/producer/eoswebnetbp1" class="color-green">eoswebnetbp1</a></strong>
</h3>-->

<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSource" class="big-table">

    <ng-container matColumnDef="#">
      <mat-header-cell *matHeaderCellDef class="top-number-analytics"> # </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" class="top-number-analytics">
          <strong>{{ i + 1 }}</strong>
      </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a [routerLink]="['/producer', element?.owner ]" class="color-green" id="{{element?.owner}}">
          	<strong>{{ element?.owner }}</strong>
          </a>
       </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Key">
      <mat-header-cell *matHeaderCellDef> Key</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center"> 
             <span class="tx-hash">{{element?.producer_key}}</span>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Url">
      <mat-header-cell *matHeaderCellDef> Url </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
          <a href="{{element?.url}}" target="_blank" class="color-green">{{element?.url}}</a>
      </mat-cell>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="Votes">
      <mat-header-cell *matHeaderCellDef> score</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
           <strong> {{ element?.total_votes }}</strong>
      </mat-cell>
    </ng-container>
    
        <!-- Name Column -->
    <ng-container matColumnDef="Rate">
      <mat-header-cell *matHeaderCellDef> Rate</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
           <strong> {{ element?.rate }} %</strong>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
                 [pageSize]="100"
                 [pageSizeOptions]="[50, 100]">
  </mat-paginator>-->
</div>
</div>

</div>