<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<div class="col-md-12">
<h1 class="market-header pull-left">Producer: {{producerId}}</h1>

    <div class="block-info">
      
      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Account:</strong>
        </div>
        <div class="col-sm-9">
          <small> <a [routerLink]="['/account', producerId]" class="color-green">{{producerId}}</a> </small>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Public Key:</strong>
        </div>
        <div class="col-sm-9">
          <small> {{ mainElement?.producer_key }} </small>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Votes:</strong>
        </div>
        <div class="col-sm-9">
          <strong>{{ vouteData.toLocaleString() }} %</strong>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Url:</strong>
        </div>
        <div class="col-sm-9">
          <small><a href="{{ mainElement?.url }}" target="_blank" class="color-green">{{ mainElement?.url }}</a></small>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Position:</strong>
        </div>
        <div class="col-sm-9">
          <small> # {{ mainElement?.index  }} </small>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Nodes:</strong>
        </div>
        <div class="col-sm-9">
          <strong class="block-info-header">{{ bpData?.nodes.length }}</strong>
        </div>
        <div class="col-sm-12">
          <div style="height: 400px; margin-top: 20px; width: 100%;" leaflet [leafletOptions]="options" [leafletLayers]="layers"></div>
        </div>
      </div>

    </div>  
<!--<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSource" class="big-table">

    <ng-container matColumnDef="#">
      <mat-header-cell *matHeaderCellDef class="top-number-analytics"> # </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" class="top-number-analytics">
          <strong>{{ i + 1 }}</strong>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a [routerLink]="['/account', element?.owner ]" class="color-green" id="{{element?.owner}}">
          	<strong>{{ element?.owner }}</strong>
          </a>
       </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Key">
      <mat-header-cell *matHeaderCellDef> Key</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center"> 
             <span class="tx-hash">{{element?.producer_key}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Url">
      <mat-header-cell *matHeaderCellDef> Url </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
          <a href="{{element?.url}}" target="_blank" class="color-green">{{element?.url}}</a>
      </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="Votes">
      <mat-header-cell *matHeaderCellDef> score</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
           <strong> {{ element?.total_votes }}</strong>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Rate">
      <mat-header-cell *matHeaderCellDef> Rate</mat-header-cell>
      <mat-cell *matCellDef="let element" class="text-center change-container"> 
           <strong> {{ element?.rate }} %</strong>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>-->


</div>

</div>