<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<div class="col-md-12">
<h1 class="market-header pull-left">Producer: {{producerId}}</h1>

    <div class="block-info">

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <img src="{{bpData?.org?.branding?.logo_256}}" alt="" class="branding-logo">
        </div>
        <div class="col-sm-9">
          <strong class="account-name"><a [routerLink]="['/account', producerId]" class="color-green">{{producerId}}</a></strong>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Votes:</strong>
        </div>
        <div class="col-sm-9">
          <strong>{{ mainElement?.rate?.toLocaleString() }} % <small>/ {{ mainElement?.total_votes?.toLocaleString() }} {{frontConfig?.coin}}</small></strong>
        </div>
      </div>

      <div class="col-sm-12 block-info-line" *ngIf="voters?.votesCounter">
        <div class="col-sm-3">
          <strong class="block-info-header">All voters:</strong>
        </div>
        <div class="col-sm-9">
          <strong>{{ voters?.votesCounter?.toLocaleString() }}</strong>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Rewards:</strong>
        </div>
        <div class="col-sm-9">
          <strong><small>{{ mainElement?.rewards?.toLocaleString() }} {{frontConfig?.coin}}</small></strong>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Position:</strong>
        </div>
        <div class="col-sm-9">
          <strong><small> # {{ mainElement?.index  }} </small></strong>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Location:</strong>
        </div>
        <div class="col-sm-9">
          <small> {{ bpData?.org?.location?.country }}, {{ bpData?.org?.location?.name }} </small>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Links:</strong>
        </div>
        <div class="col-sm-9">
            <a href="{{ mainElement?.url }}" *ngIf="mainElement?.url" target="_blank" class="social-links"><i class="far fa-desktop-alt"></i></a>
            <a href="https://www.facebook.com/{{ bpData?.org?.social?.facebook }}" *ngIf="bpData?.org?.social?.facebook" target="_blank" class="social-links"><i class="fab fa-facebook"></i></a>
            <a href="https://www.reddit.com/user/{{ bpData?.org?.social?.reddit }}" *ngIf="bpData?.org?.social?.reddit" target="_blank" class="social-links"><i class="fab fa-reddit"></i></a>
            <a href="https://www.youtube.com/{{ bpData?.org?.social?.youtube }}" *ngIf="bpData?.org?.social?.youtube" target="_blank" class="social-links"><i class="fab fa-youtube"></i></a>
            <a href="https://t.me/{{ bpData?.org?.social?.telegram }}" *ngIf="bpData?.org?.social?.telegram" target="_blank" class="social-links"><i class="fab fa-telegram"></i></a>
            <a href="https://twitter.com/{{ bpData?.org?.social?.twitter }}" *ngIf="bpData?.org?.social?.twitter" target="_blank" class="social-links"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/{{ bpData?.org?.social?.github }}" *ngIf="bpData?.org?.social?.github" target="_blank" class="social-links"><i class="fab fa-github"></i></a>
            <a href="https://steemit.com/{{ bpData?.org?.social?.steemit }}" *ngIf="bpData?.org?.social?.steemit" target="_blank" class="social-links"><i class="fab fa-steemit"></i></a>
            <a href="https://keybase.io/{{ bpData?.org?.social?.keybase }}" *ngIf="bpData?.org?.social?.keybase" target="_blank" class="social-links"><i class="fab fa-keybase"></i></a>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Public Key:</strong>
        </div>
        <div class="col-sm-9">
          <small class="tx-mobile-hash"> <a [routerLink]="['/address', mainElement?.producer_key]" class="color-green"> {{ mainElement?.producer_key }} </a> </small>
        </div>
      </div>

      <div class="col-sm-12 block-info-line" *ngIf="voters?.voters">
        <div class="col-sm-3">
          <strong class="block-info-header">Last voters:</strong>
        </div>
        <div class="col-sm-9 tokens-container">
          <span *ngFor="let voter of voters?.voters">
            <strong *ngIf="voter?.currency !== frontConfig?.coin" class="small-tokens">
              <a [routerLink]="['/account', voter?.act?.data?.voter ]" class="color-green">{{ voter?.act?.data?.voter }}</a>
              <small> stake </small> - <strong>{{ (voter?.stake) ? voter?.stake?.toLocaleString() : 0 }} {{frontConfig?.coin}}</strong>
            </strong>
          </span>
        </div>
      </div>

      <div class="col-sm-12 block-info-line">
        <div class="col-sm-3">
          <strong class="block-info-header">Nodes:</strong>
        </div>
        <div class="col-sm-9">
          <strong class="block-info-header">{{ bpData?.nodes.length }}</strong>
        </div>
        <div class="col-sm-12">
          <div style="height: 400px; margin-top: 20px; width: 100%;" leaflet [leafletOptions]="options" [leafletLayers]="layers"></div>
        </div>
      </div>

    </div>  

</div>

</div>