<nav class="main-navigation">
  <a routerLink="" class="logo pull-left">
    <img src="/assets/images/eos_logo.png" width="25" alt="">
    <span class="name-explorer">blockchain explorer</span>
    <span class="name-eos">EOS</span> 
  </a>
  <div class="main-search">
    <i class="fal fa-search"></i>
    <input type="text" placeholder="Search by tx number, hash, blockid ..">
  </div>
  <ul class="pull-right main-nav-middle">
    <li><button mat-button color="basic" routerLink="coins">Blockchain</button></li>
    <li><button mat-button color="basic" routerLink="exchanges">API</button></li>
  </ul>
</nav>

<main-tcustomize-charts></main-tcustomize-charts>

<router-outlet></router-outlet>

<simple-notifications [options]="options"></simple-notifications>

<footer>
  <div class="container">
  <div class="pull-left">Copyright © 2018. EOSweb. All rights reserved. </div>
  <ul class="pull-right">
       <li><a href="">API</a></li>
       <li><a href="">Support</a></li>
       <li><a href=""><i class="fab fa-facebook"></i></a></li>
       <li><a href=""><i class="fab fa-twitter"></i></a></li>
       <li><a href=""><i class="fab fa-github"></i></a></li>
  </ul>
   </div>
</footer>

