<nav class="main-navigation">
  <a routerLink="" class="logo pull-left">
    <img src="/assets/images/eos_logo.png" width="25" alt="">
    <span class="name-explorer">blockchain explorer</span>
    <span class="name-eos">eos</span> 
  </a>
  <div class="main-search">
    <i class="fal fa-search" (click)="searchGlobal(search)"></i>
    <input type="search" placeholder="block/transaction/account/address/contract" [(ngModel)]="search" (keyup)="onKey($event)">
  </div>
  <ul class="pull-right main-nav-middle">
    <!--<li><button mat-button color="basic" routerLink="analytics">Analytics</button></li>-->
    <li><button mat-button color="basic" routerLink="producers">Producers</button></li>
    <li><button mat-button color="basic" routerLink="soon">Widgets</button></li>
    <li><button mat-button color="basic" routerLink="soon">API</button></li>
    <li>
        <a _ngcontent-c0="" href="https://twitter.com/EoswebN" class="telegram-button" target="_blank">
          <i _ngcontent-c0="" class="fab fa-twitter"></i>
        </a>
    </li>
  </ul>
</nav>

<main-tcustomize-charts></main-tcustomize-charts>

<router-outlet></router-outlet>

<simple-notifications [options]="options"></simple-notifications>

<footer>
  <div class="container">
  <div class="pull-left">Copyright © 2018. EOSweb. All rights reserved. </div>
  <ul class="pull-right">
       <li><a routerLink="producers">API</a></li>
       <li><a href="mailto:dev.eosweb.net@gmail.com">Support</a></li>
       <li><a href="https://www.facebook.com/EOSwebnet-199076424068961" target="_blank"><i class="fab fa-facebook"></i></a></li>
       <li><a href="https://www.reddit.com/user/eosweb" target="_blank"><i class="fab fa-reddit-alien"></i></a></li>
       <li><a href="https://medium.com/@EoswebN" target="_blank"><i class="fab fa-medium"></i></a></li>
       <li><a href="https://twitter.com/EoswebN" target="_blank"><i class="fab fa-twitter"></i></a></li>
       <li><a href="https://t.me/eosweb" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
  </ul>
   </div>
</footer>

