<div class="main-chart-cust-container"> 
<div class="container">
  <div class="row main-custom-chart-container">
      
      <!-- <div class="col-sm-4 chart-child-container customize-containers-not-active customize-containers-active grid-cs-5-inline">
        <div class="col-xs-8 no-padding first-container-widget">
        <div class="color-grey-text">eos - usd</div> 
        <div class="chart-child-container-dollar">
            <div class="pull-left"><i class="fas fa-dollar-sign"></i> {{ currencyObj?.RAW?.EOS?.USD?.PRICE }}</div>
            <div class="pull-right chart-child-container-change first-container-change"> 
              <div class="color-orange" [ngClass]="{'color-red': currencyObj?.RAW?.EOS?.USD?.CHANGEDAY < 0}">
                <i class="material-icons">{{ (currencyObj?.RAW?.EOS?.USD?.CHANGEDAY < 0) ? 'arrow_drop_down' : 'keyboard_arrow_up' }}</i>
                {{ (currencyObj?.RAW?.EOS?.USD?.CHANGEDAY?.toFixed(2)).replace('-', '') }} <i class="fas fa-percent"></i>
              </div>
            </div>
        </div>        
        </div>
        <div class="col-xs-4 no-padding widget-chart-container">
            <div class="currency-page-main-chart"> 
              <ngx-charts-line-chart *ngIf="mainCurrencyChartDataRes"
                [view]="ngxChartOptions.view"
                [scheme]="ngxChartOptions.colorScheme"
                [results]="[{ name: 'EOS_USD', series: mainCurrencyChartDataRes || [{name: '0', value: 1}] }]"
                [gradient]="ngxChartOptions.gradient"
                [xAxis]="ngxChartOptions.showXAxis"
                [yAxis]="ngxChartOptions.showYAxis"
                [legend]="ngxChartOptions.showLegend"
                [showXAxisLabel]="ngxChartOptions.showXAxisLabel"
                [showYAxisLabel]="ngxChartOptions.showYAxisLabel"
                [xAxisLabel]="ngxChartOptions.xAxisLabel"
                [yAxisLabel]="ngxChartOptions.yAxisLabel"
                [autoScale]="ngxChartOptions.autoScale"
                [curve]="curve">
              </ngx-charts-line-chart> 
            </div>        
        </div> 
      </div> -->
      
      <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
        <div class="color-grey-text">RAM PRICE </div> 
        <div class="chart-child-container-dollar">
            <div class="pull-left color-orange"> {{ ramPrice }} </div>
            <small style="margin-left: 5px"> TLS/KB </small>
        </div> 
      </div>

      <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
        <div class="color-grey-text">ACCOUNTS</div> 
        <div class="chart-child-container-dollar">
            <div class="pull-left color-orange"> {{ aggragationData?.accounts?.toLocaleString() }}</div>
        </div> 
      </div>

      <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
        <div class="color-grey-text">BLOCKS</div>
        <div class="chart-child-container-dollar">
            <div class="pull-left color-orange"> {{ blockchainData?.head_block_num?.toLocaleString() }}</div>
        </div>
      </div>

      <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
        <div class="color-grey-text">TRANSACTIONS</div>
        <div class="chart-child-container-dollar">
            <div class="pull-left color-orange"> {{ aggragationData?.transactions?.toLocaleString() }}</div>
        </div> 
      </div>  
      
      <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
        <div class="color-grey-text">ACTIONS</div> 
        <div class="chart-child-container-dollar">
            <div class="pull-left color-orange"> {{ aggragationData?.actions?.toLocaleString() }} </div>
        </div> 
      </div>

      <!-- <div class="col-sm-12">
        <div class="pull-left container-tps">
            <div class="color-grey-text pull-left tps-text">TRX/sec: </div>
            <div class="pull-left color-orange"> {{ TPSliveTx }} <small>live</small></div>
            <a class="pull-left color-orange left-margin" href="/block/{{aggragationData?.max_tps_block}}">{{ aggragationData?.max_tps?.toLocaleString() }} <small>max</small></a>
        </div>
        <h3 class="producer-candidate pull-right"><small>vote for us: </small> 
            <strong><a routerLink="/vote" class="color-orange">eoswebnetbp1</a></strong>
        </h3>
      </div> -->

      <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
        <div class="color-grey-text">PRODUCING BLOCKS</div>
        <div class="chart-child-container-dollar">
          
          <a class="pull-left color-orange" [routerLink]="['/producer', blockchainData.head_block_producer]"> {{ blockchainData.head_block_producer?.toLocaleString() }}</a>
        </div>
      </div>

      <div class="col-sm-12 no-gutters">
        <div class="pull-left col-xs-7 container-tps no-gutters">
            <!-- <div class="color-grey-text pull-left tps-text">TRX/sec: </div>
            <div class="pull-left color-orange"> {{ TPSliveTx }} <small>live</small></div>
            <a class="pull-left color-orange left-margin" href="/block/{{aggragationData?.max_tps_block}}">{{ aggragationData?.max_tps?.toLocaleString() }} <small>max</small></a> -->
            <div class="color-eclipse-text pull-left tps-text">Chain ID:</div>
            <div class="pull-left color-orange"> <small class="color-orange">{{ blockchainData?.chain_id?.toLocaleString() }}</small></div>
        </div>
        <div class="pull-right col-xs-5 container-tps">
          <div class="pull-left">
              <div class="color-eclipse-text pull-left tps-text">Last irreversible block: </div>
              <div class="pull-right"> <small class="color-orange">{{ blockchainData?.last_irreversible_block_num }} </small></div>
          </div>
          <div class="pull-right">
              <div class="color-eclipse-text pull-left tps-text">Current Head Block: </div>
              <div class="pull-right"> <small class="color-orange">{{ blockchainData?.head_block_num }}</small></div>
          </div>
        </div>
        <!-- <h3 class="producer-candidate pull-right"><small>vote for us: </small> 
            <strong><a routerLink="/vote" class="color-orange">eoswebnetbp1</a></strong>
        </h3> -->
      </div>
  </div>
</div>
</div>

