<div class="main-chart-cust-container"> 
<div class="container">
<div class="row main-custom-chart-container">
    
    <div class="col-sm-4 chart-child-container customize-containers-not-active customize-containers-active grid-cs-5-inline" *ngIf="frontConfig?.convertToUSD">
      <div class="col-xs-8 no-padding first-container-widget">
       <div class="color-grey-text">eos - usd</div> 
       <div class="chart-child-container-dollar">
          <div class="pull-left"><i class="fas fa-dollar-sign"></i> {{ currencyObj?.RAW?.EOS?.USD?.PRICE }}</div>
          <div class="pull-right chart-child-container-change first-container-change"> 
            <div class="color-green" [ngClass]="{'color-red': currencyObj?.RAW?.EOS?.USD?.CHANGEDAY < 0}">
              <i class="material-icons">{{ (currencyObj?.RAW?.EOS?.USD?.CHANGEDAY < 0) ? 'arrow_drop_down' : 'keyboard_arrow_up' }}</i>
              {{ (currencyObj?.RAW?.EOS?.USD?.CHANGEDAY?.toFixed(2)).replace('-', '') }} <i class="fas fa-percent"></i>
            </div>
          </div>
       </div>        
      </div>
      <div class="col-xs-4 no-padding widget-chart-container">
          <div class="currency-page-main-chart"> 
            <ngx-charts-line-chart *ngIf="mainCurrencyChartDataRes"
              [view]="ngxChartOptions.view"
              [scheme]="ngxChartOptions.colorScheme"
              [results]="[{ name: 'EOS_USD', series: mainCurrencyChartDataRes || [{name: '0', value: 1}] }]"
              [gradient]="ngxChartOptions.gradient"
              [xAxis]="ngxChartOptions.showXAxis"
              [yAxis]="ngxChartOptions.showYAxis"
              [legend]="ngxChartOptions.showLegend"
              [showXAxisLabel]="ngxChartOptions.showXAxisLabel"
              [showYAxisLabel]="ngxChartOptions.showYAxisLabel"
              [xAxisLabel]="ngxChartOptions.xAxisLabel"
              [yAxisLabel]="ngxChartOptions.yAxisLabel"
              [autoScale]="ngxChartOptions.autoScale"
              [curve]="curve">
            </ngx-charts-line-chart> 
          </div>        
      </div> 
    </div>
    
    <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
       <div class="color-grey-text">Ram price </div> 
       <div class="chart-child-container-dollar">
          <div class="pull-left color-green"> {{ ramPrice }} </div>
           <small style="margin-left: 5px"> {{frontConfig?.coin}}/kb </small>
       </div> 
    </div>

    <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
       <div class="color-grey-text">Accounts</div> 
       <div class="chart-child-container-dollar">
          <div class="pull-left color-green"> {{ aggragationData?.accounts?.toLocaleString() }}</div>
       </div> 
    </div>

    <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
       <div class="color-grey-text">Blocks</div>
       <div class="chart-child-container-dollar">
          <div class="pull-left color-green"> {{ blockchainData?.head_block_num?.toLocaleString() }}</div>
       </div>
    </div>

    <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
       <div class="color-grey-text">Actions</div>
       <div class="chart-child-container-dollar">
          <div class="pull-left color-green"> {{ aggragationData?.actions?.toLocaleString() }}</div>
       </div> 
    </div>  
    
    <div class="col-sm-2 draggble chart-child-container customize-containers-not-active grid-cs-5-inline">
       <div class="color-grey-text">Producer</div> 
       <div class="chart-child-container-dollar">
          <div class="pull-left color-green"> 
            <a routerLink="/producer/{{producer}}" class="color-green">{{ producer }}</a> 
          </div>
       </div> 
    </div>

    <div class="col-sm-12">
      <div class="pull-left container-tps">
           <div class="color-grey-text pull-left tps-text">TPS: </div>
           <div class="pull-left color-green"> {{ TPSliveTx }} <small>live</small></div>
           <a class="pull-left color-green left-margin" href="/block/{{aggragationData?.max_tps_block}}">{{ aggragationData?.max_tps?.toLocaleString() }} <small>max</small></a>
      </div>
      <div class="pull-left container-tps users-oline">
           <div class="color-grey-text pull-left tps-text"><small>users online:</small></div>
           <div class="pull-left color-green"> {{ usersOnline }}</div>
      </div>
      <h3 class="producer-candidate pull-right"*ngIf="!frontConfig?.disableVoteDonation">
          <small>vote for us: </small> 
          <strong><a routerLink="/vote" class="color-green">{{frontConfig?.voteDonationAcc}}</a></strong>
      </h3>
    </div>

    <!--<div class="col-sm-2 chart-child-container customize-container grid-cs-5-inline">
      <a class="customize-button text-center"> 
        <div class="custom-widget-title"><span class="customize">Customize</span> widgets <i class="far fa-question-circle"></i></div>
        <div class="learn-more">Learn more <i class="fas fa-chevron-right"></i></div>
      </a>
    </div> -->
</div>
</div>
</div>

<style *ngIf="frontConfig?.convertToUSD">
  .grid-cs-5-inline{
    width: 19.68% !important;
  }
</style>

