<div class="container">

<div class="spinner-container" *ngIf="scatterService.spinnerRAM">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

	<h1 class="market-header">Vote for BPs</h1>

	<div class="col-sm-4 block-info-line" *ngIf="!loginEOSService.accountName">
		  <button mat-raised-button class="btn-generate" color="primary" (click)="loginEOSService.openPopup()">Connect Wallet</button>
	</div>

	<div class="block-info" *ngIf="loginEOSService.accountName">
			<div class="col-sm-4">
			 <div class="col-sm-12 no-padding">
					<div class="avatatar-img">
				 		<img src="/assets/images/user-astronaut-solid.svg" width="25" >
				 	</div>
				 	<a [routerLink]="['/account', loginEOSService.accountName]" class="color-green acc-name">
				  		{{ loginEOSService.accountName }}
				 	</a>
			 </div>
				
			<div class="col-sm-12 acc-list no-padding">
				  <div class="balance-acc">
    			     Total Balance: <strong>{{ scatterService.balance?.toLocaleString() }} {{frontConfig?.coin}}</strong>
    			  </div>
    			  <div class="balance-acc">
    			     Unstaked: <small><strong>{{ scatterService.unstaked?.toLocaleString() }} {{frontConfig?.coin}}</strong></small>
    			  </div>
    			  <div class="balance-acc">
    			     Staked: <small><strong>{{ scatterService.staked?.toLocaleString() }} {{frontConfig?.coin}}</strong></small>
    			  </div>
    		</div>
    

    		<div class="col-sm-12 acc-list no-padding">
      				<div class="analytics-header-right top-ten">
      			  CPU:
      			</div>
      			<div class="analytics-text-right">
        			<mat-progress-bar mode="determinate" value="{{scatterService.mainDataRAM?.cpu_limit?.used / scatterService.mainDataRAM?.cpu_limit?.max * 100}}" class="progress-bar-usage account-cpu"></mat-progress-bar>
        			<small>{{ (scatterService.mainDataRAM?.cpu_limit?.used / 1000000).toFixed(2) }} sec</small> / <small>{{ (scatterService.mainDataRAM?.cpu_limit?.max / 1000000).toFixed(2) }} sec</small>
      		    </div>
    		</div>

    		 <div class="col-sm-12 acc-list no-padding">
    		  <div class="analytics-header-right top-ten">
    		    NET:
    		  </div>
    		  <div class="analytics-text-right ">
        			<mat-progress-bar mode="determinate" value="{{scatterService.mainDataRAM?.net_limit?.used / scatterService.mainDataRAM?.net_limit?.max * 100}}" class="progress-bar-usage account-net"></mat-progress-bar>
        			<small>{{ (scatterService.mainDataRAM?.net_limit?.used / 1024).toFixed(2) }} kb</small> / <small>{{ (scatterService.mainDataRAM?.net_limit?.max / 1024).toFixed(2) }} kb</small>
      		 	</div>
    		 </div>
    		 
    		 <div class="col-sm-12 acc-list no-padding">
    			  <div class="analytics-header-right top-ten">
    			    RAM:
    			  </div>
    			  <div class="analytics-text-right">
    			    <mat-progress-bar mode="determinate" value="{{scatterService.mainDataRAM?.ram_usage / scatterService.mainDataRAM?.ram_quota * 100}}" class="progress-bar-usage account-ram"></mat-progress-bar>
        			<small>{{ (scatterService.mainDataRAM?.ram_usage / 1024).toFixed(2) }} kb</small> / <small>{{ (scatterService.mainDataRAM?.ram_quota / 1024).toFixed(2) }} kb</small>
      			  </div>
   			</div>

        <div class="col-sm-12 acc-list no-padding" *ngIf="loginEOSService.accountName">
            <button mat-raised-button class="btn-generate" color="primary" (click)="loginEOSService.logout()">Logout</button>
        </div>
        

			</div>

			<div class="col-sm-8">
				<mat-tab-group>
				  <mat-tab label="Vote">
				  		<div class="col-sm-1"></div>
				  		<div class="col-sm-9">
  							<mat-form-field>
  							      <input matInput placeholder="Voter" required="true" [(ngModel)]="vote.voter">
  							</mat-form-field>
							
								<!--<mat-form-field>
  							  		<input matInput placeholder="Proxy" required="true" [(ngModel)]="vote.proxy">
  							</mat-form-field>-->
							
								<mat-form-field>
  							  		<mat-chip-list #chipList>
                        <mat-chip *ngFor="let bp of vote.producers" [selectable]="selectable"
                                   [removable]="removable" (removed)="remove(bp)">
                            {{bp}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input placeholder="Add bp ... ↵ or ,"
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
  							</mat-form-field>

  							<button mat-raised-button color="primary" class="btn-generate" (click)="scatterService.generateTransaction(vote)">Generate Transaction</button>
				  		</div>
				  </mat-tab>
				</mat-tab-group>
			</div>
	</div>
</div>