<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<!--<div class="col-sm-6 padding-left-no">
  <h1 class="market-header">History <small>Transactions</small></h1>
   <ngx-charts-line-chart
              [view]="ngxChartOptions.view"
              [scheme]="{ domain: ['#44a264'] }"
              [results]="[{ name: '', series: trx || [{name: '0', value: 1}] }]"
              [gradient]="ngxChartOptions.gradient"
              [xAxis]="ngxChartOptions.showXAxis"
              [yAxis]="ngxChartOptions.showYAxis"
              [legend]="ngxChartOptions.showLegend"
              [showXAxisLabel]="ngxChartOptions.showXAxisLabel"
              [showYAxisLabel]="ngxChartOptions.showYAxisLabel"
              [xAxisLabel]="ngxChartOptions.xAxisLabel"
              [yAxisLabel]="ngxChartOptions.yAxisLabel"
              [autoScale]="ngxChartOptions.autoScale"
              [timeline]="ngxChartOptions.timeline"
              [curve]="curve">
 </ngx-charts-line-chart> 
</div>-->

<div class="col-sm-6 padding-left-no pie-chart">
  <h1 class="market-header">Top 200 accounts</h1>
   <ngx-charts-pie-chart
              [view]="[1200, 500]"
              scheme="cool"
              [results]="pieChart || [{name: '0', value: 1}]"
              [gradient]="ngxChartOptions.gradient"
              [legend]="true"
              [labels]="true">
 </ngx-charts-pie-chart> 
</div>

<div class="col-md-12">

<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSource" class="big-table">

    <ng-container matColumnDef="#">
      <mat-header-cell *matHeaderCellDef class="top-number-analytics"> # </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" class="top-number-analytics">
          <strong>{{ i + 1 }}</strong>
      </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a [routerLink]="['/account', element?.account_name ]" class="color-green">
          	<strong>{{ element?.account_name }}</strong>
          </a>
       </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Balance">
      <mat-header-cell *matHeaderCellDef> Total Balance </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
             <strong>{{element?.balance_eos?.toLocaleString() }} {{frontConfig?.coin}}</strong>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Staked">
      <mat-header-cell *matHeaderCellDef> Staked </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey"> 
          <strong>{{element?.staked?.toLocaleString() }} {{frontConfig?.coin}}</strong>
      </mat-cell>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="Unstaked">
      <mat-header-cell *matHeaderCellDef> Unstaked </mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-container"> 
           <strong> {{ element?.unstaked?.toLocaleString() }} {{frontConfig?.coin}}</strong>
      </mat-cell>
    </ng-container>
    
        <!-- Name Column 
    <ng-container matColumnDef="Currencies Array">
      <mat-header-cell *matHeaderCellDef> Tokens Array</mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-container"> 
           <strong *ngFor="let bal of element?.balance"> {{ bal }} </strong>
      </mat-cell>
    </ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
                 [pageSize]="100"
                 [pageSizeOptions]="[50, 100]">
  </mat-paginator>-->
</div>
</div>

</div>